-content_for :title do
  ="#{@manufacturer.name} #{@model.name}"

.row
  .span10
    %p
      %img{:src => "http://placehold.it/300x300", :alt => "#{@manufacturer.name} Logo", :align => "left"}
      =link_to "Sell Your #{@manufacturer.name} #{@model.name}", "", :class => "btn btn-primary btn-large"
      =@model.description
    %ul
      %li= link_to "View All #{@manufacturer.name.pluralize}", make_path(@manufacturer)

-unless @cars.empty?
  .row
    .span10
      %h2= "#{@manufacturer.name} #{@model.name.pluralize} For Sale"
      =render :collection => @cars, :partial => "cars/car"