=content_for(:title) do
  ="#{@car.summary} in #{@car.location.name} For Sale"
.row
  .span2
    %dl.well
      %dt Asking Price
      %dd= number_to_currency @car.asking_price, :precision => 0
      %dt Condition
      %dd= @car.condition.name
      %dt Exterior
      %dd= @car.exterior_color.name
      %dt Interior
      %dd= @car.interior_color.name
      %dt Transmission
      %dd= @car.transmission.name
      %dt Location
      %dd= @car.location.name
      %a.btn.btn-primary.btn-large{:href => "#contact", :data => {:toggle => "modal"}} Contact User
  .span4
    %ul.thumbnails
      -@car.photos.each_with_index do |photo,i|
        -if i == 0
          %li.span4
            %a.thumbnail{:href => "#pictures", :data => {:toggle => "modal"}}
              %img{:src => photo.url}
        -else
          %li.span1
            %a.thumbnail{:href => "#pictures", :data => {:toggle => "modal"}}
              %img{:src => photo.thumbnail_url, :width => 70, :height => 52}
  .span4
    %p= @car.description
    %ul
      -@car.features.each do |feature|
        %li
          %span.label= feature.name.parameterize
    %ul
      %li= link_to "View All #{@car.make.name.pluralize} For Sale", make_path(@car.make)
      %li= link_to "View All #{@car.make.name} #{@car.model.name.pluralize} For Sale", make_model_path(@car.make, @car.model)

-unless @similar_cars.empty?
  .row
    #similar.span8
      %h3 Similar Cars For Sale
      =render :collection => @similar_cars, :partial => "car"
      =link_to "View All Similar Cars", similar_car_path(@car)


#pictures.fade.modal.hide
  .modal-header
    %button{:type => :button, :class => :close, :data => {:dismiss => "modal"}} &times;
    %h3= "#{@car.summary} Pictures"
  .modal-body
    #carousel.carousel.slide
      .carousel-inner
        -@car.photos.each_with_index do |photo, i|
          %div{:class => [:item, i == 0 && "active"]}
            %img{:src => photo.url}

    %a.carousel-control.left{:href => "#carousel", :data => {:slide => "prev"}} &lsaquo;
    %a.carousel-control.right{:href => "#carousel", :data => {:slide => "next"}} &rsaquo;

#contact.fade.modal.hide
  .modal-header
    %button{:type => :button, :class => :close, :data => {:dismiss => "modal"}} &times;
    %h3= "Contact User"
  =simple_form_for Message.new do |f|
    .modal-body
      =f.input :text,
        :as => :text,
        :input_html => {:rows => 5}

    .modal-footer
      =f.button :button, "Cancel", :data => {:dismiss => "modal"}
      =f.button :submit, "Send", :class => "btn btn-primary"

-content_for(:scripts) do
  :javascript
    $(document).ready(function() {
      $('#pictures,#contact').modal({show:false});
      $('#carousel').carousel();
    });