=content_for(:title) do
  ="#{@car.summary} in #{@car.location.name} For Sale"
.row-fluid
  .span2
    .well
      %dl
        %dt Asking Price
        %dd= number_to_currency @car.asking_price, :precision => 0
        %dt Condition
        %dd= @car.condition.name
        %dt Exterior
        %dd= @car.exterior_color.name
        %dt Interior
        %dd= @car.interior_color.name
        %dt Transmission
        %dd= @car.transmission.name
        %dt Location
        %dd= @car.location.name
      %a#btn-contact.btn.btn-cta.btn-large{:href => "#contact", :data => {:toggle => "modal"}} Contact User
  .span10
    .row-fluid
      %ul.thumbnails
        -@car.photos.each do |photo|
          %li.span3
            %a.thumbnail{:href => "#pictures", :data => {:toggle => "modal"}}
              %img{:src => photo.thumbnail_url}
    .row-fluid
      .span12
        %p= @car.description
        -@car.features.each do |feature|
          %span.label= feature.name.parameterize
        %ul.unstyled.spaced
          %li= link_to "View All #{@car.make.name.pluralize} For Sale", make_path(@car.make), :class => "btn btn-primary"
          %li= link_to "View All #{@car.make.name} #{@car.model.name.pluralize} For Sale", make_model_path(@car.make, @car.model), :class => "btn btn-primary"

-unless @similar_cars.empty?
  .row-fluid
    #similar.span12
      %h3 Similar Cars For Sale
      -@similar_cars.each_slice(4) do |slice|
        .row-fluid
          =render :collection => slice, :partial => "car"
    =link_to "View All Similar Cars", similar_car_path(@car)


#pictures.fade.modal.hide
  .modal-header
    %button{:type => :button, :class => :close, :data => {:dismiss => "modal"}} &times;
    %h3= "#{@car.summary} Pictures"
  .modal-body
    #carousel.carousel.slide
      .carousel-inner
        -@car.photos.each_with_index do |photo, i|
          %div{:class => [:item, i == 0 && "active"]}
            %img{:src => photo.url}

    %a.carousel-control.left{:href => "#carousel", :data => {:slide => "prev"}} &lsaquo;
    %a.carousel-control.right{:href => "#carousel", :data => {:slide => "next"}} &rsaquo;

#contact.fade.modal.hide
  .modal-header
    %button{:type => :button, :class => :close, :data => {:dismiss => "modal"}} &times;
    %h3= "Contact User"
  =simple_form_for Message.new do |f|
    .modal-body
      =f.input :text,
        :as => :text,
        :input_html => {:rows => 5}

    .modal-footer
      =f.button :button, "Cancel", :data => {:dismiss => "modal"}
      =f.button :submit, "Send", :class => "btn btn-primary"

-content_for(:scripts) do
  :javascript
    $(document).ready(function() {
      $('#pictures,#contact').modal({show:false});
      $('#carousel').carousel();
    });