-content_for :title do
  =@manufacturer.name

.row
  .span10
    %p
      %img{:src => @manufacturer.logo.url, :alt => "#{@manufacturer.name} Logo", :align => "left"}
      =@manufacturer.description


.row
  .span10
    %h2= "#{@manufacturer.name} Models"
    %ul.thumbnails
      -@manufacturer.models.each do |model|
        %li.span2
          .thumbnail
            %a{:href => make_model_path(@manufacturer, model)}
              %img{:src => "http://placehold.it/200x200", :alt => "#{@manufacturer.name} #{model.name}"}
            .caption= link_to "#{@manufacturer.name} #{model.name}", make_model_path(@manufacturer, model)

-unless @cars.empty?
  .row
    .span10
      %h2= "#{@manufacturer.name.pluralize} For Sale"
      =render :collection => @cars, :partial => "cars/car"

